<?xml version="1.0" encoding="UTF-8" ?>
<defaults>
	<name>Main Config</name>
	<http_server>null</http_server>
	<volume_default>10</volume_default>
	<volume_max>10</volume_max>
	<bright_default>10</bright_default>
	<bright_range>10</bright_range>
	<news_font>Verdana</news_font>
	<text_colour>0xffffff</text_colour>
	<font_height>50</font_height>
	<bar_height>53</bar_height>
	<server_content_path>/content/</server_content_path>
	<news_filename>/news.xml</news_filename>
	<manifest_filename>/manifest.xml</manifest_filename>
	<loop_sequence_filename>/loopsequence.xml</loop_sequence_filename>
	<xml_download_interval_time>00:30</xml_download_interval_time>
	<xml_download_interval_day>0</xml_download_interval_day>
	<news_download_interval_time>01:00</news_download_interval_time>
	<news_download_interval_day>0</news_download_interval_day>
	<load_image>front_screen.jpg</load_image>
	<download_exe>newscaster_001.exe</download_exe>
</defaults>
